body {
    background-color: lightblue;
}

h1 {
    font-family: Trattatello, fantasy;
    font-size: 60px;
    display: block;
    text-align: center;
}

p {
    font-family: Bradley Hand, cursive;
    font-size: 25px;
}

.recipe {
    font-style: italic;
    display: block;
    text-align: center;
    font-size: 26px;
}

.links {
    display: block;
    text-align: center;
    font-style: italic;
}

.links :hover {
    font-size: xx-large;
    text-decoration: dotted;
    color:darkorchid;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}